*{
  font-family: Helvetica, Arial, sans-serif;
}
body {
  padding: 60px;
}
html, body{
  background-color: #262335;
  color: white;
}

input{
  color: gray;
  width: 100%;
  font-size: 1.2rem;
}

.card {
  border: 0;
  align-content: center;
  border-radius: 12px;
  overflow: hidden;
  background: rgb(38, 35, 53);
  box-shadow: 20px 20px 60px #2d2846, -20px -20px 60px #38334d;
}

.card p {
  padding: 5px;
  text-align: center;
}

.gallery {
  display: grid;
  grid-gap: 2rem;
  grid-auto-flow: dense;
  grid-auto-rows: auto;
  /* grid-template-columns: repeat(auto-fill, minmax(min(100%, 38rem), 1fr)); */
  /* grid-template-rows: auto; */
  grid-template-columns: repeat(auto-fill, minmax(min(100%, 20rem), 1fr));
}

